{% extends "traveling_salesman/base.html" %}
{% block content %}
	<div id="container">
		<div class="header">Komiwojażer</div>
		<div class="main-page">
			<div class="form">
				<form class="register-form">
					<input type="text" placeholder="login"/>
					<input type="password" placeholder="hasło"/>
					<input type="password" placeholder="powtórz hasło"/>
					<input type="text" placeholder="email"/>

					<div class="bc1"><button>Zarejestruj się</button></div>
					<p class="message">Już zarejestrowany? <a href="{% url 'login' %} ">Zaloguj się</a> </p>
				</form>
			</div>
			
		</div>

	</div>

{% endblock content %}